@mixin cardProject {
  .card-proj {
    background-color: $border-hover-color;
    color: black;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
    border-radius: 0.5rem;
    padding: 1.5rem;
    .card-proj-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $secondary-color-1;
      p {
        font-weight: bold;
      }
      .card-proj-actions {
        a {
          color: black;
          i {
            font-size: 1.6rem;
            margin-left: 1rem;
          }
          &:hover {
            color: $primary-color-0;
          }
        }
      }
    }
    .card-proj-img {
      padding: 1rem;
      border-bottom: 1px solid $secondary-color-1;
      text-align: center;
      margin-bottom: 0.5rem;
      img {
        width: 100%;
      }
    }
    .card-proj-desc {
      font-size: 0.85rem;
      line-height: 1rem;
      margin-bottom: 1rem;
    }
    .card-proj-tools {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;
      background-color: $tools-color;
      padding: 0.5rem;
      border-radius: 1rem;
    }
  }
}
