@mixin containerMobile {
  .container-mobile {
    padding: 0rem 2rem 2rem 2rem;
    main {
      @include container;
      .cards-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        .card-mobile {
          background: $secondary-color-0;
          border-radius: 1rem;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
          display: flex;
          justify-content: center;
          align-items: center;
          .card-content {
            width: 100%;
            text-align: center;
            color: $primary-color-0;
            p {
              font-weight: 700;
              font-style: italic;
              font-size: 1.2rem;
            }
            i {
              font-size: 3rem;
            }
            &:hover {
              color: $secondary-color-2;
            }
          }
        }
        .lg {
          grid-column-start: span 2;
          height: 8rem;
          .card-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          p {
            width: 50%;
            text-align: center;
          }
        }
        .sm {
          height: 9.5rem;
          .card-content {
            text-align: center;
            p {
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
  }
}
