@mixin modal {

  .modal {

    max-width: 850px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: $modal-color;
    backdrop-filter: blur(4rem);
    color: $primary-color-0;
    
    .header-modal {
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      border-bottom: 2px solid $primary-color-0;
      box-shadow: 0px 1.3px 0px rgba(0, 0, 0, 0.26);
      
      .actions-modal {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      
      .title-modal {
        display: flex;
        justify-content: center;
        
        p {
          font-weight: 700;
          font-style: italic;
          font-size: 1.7rem;
        }
      }
    }
    
    .container-modal {
      //background-color: rgba(102, 51, 153, 0.432);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      overflow-y: scroll;
      height: 79%;
      padding: 0rem 1rem;
      //////////////////////////////////////////////////////////
      .contact-btn {
        background-color: $border-hover-color;
        border: $tools-color;
        text-decoration: none;
        color: black;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.9rem;
          margin-right: 1rem;
        }
        .contact-btnTitle {
          text-align: start;
          p {
            font-weight: bold;
            font-size: 1rem;
          }
          span {
            font-size: 0.9rem;
            font-style: italic;
          }
        }
        &:hover {
          color: $primary-color-0;
        }
      }
      //////////////////////////////////////////////////////////
      .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color-2;
        i {
          font-size: 3.5rem;
          margin-right: 1rem;
        }
        .tool-content {
          width: 100%;
          .tool-progress-bar {
            position: relative;
            height: 1.6em;
            border-radius: 1.5em;
            background-color: $primary-color-0;
            border: solid 2px $secondary-color-2;
            color: whitesmoke;
            margin: 0.2rem 0rem;
            &::before {
              content: attr(data-label);
              display: flex;
              align-items: center;
              position: absolute;
              left: 0.1em;
              top: 0.1em;
              bottom: 0.1em;
              width: calc(var(--start, 0) * 1%);
              min-width: 0.6rem;
              max-width: calc((var(--end, 100) * 1%) - 1em);
              background-color: $primary-color-1;
              font-size: 0.75rem;
              padding: 0.4em;
              border-radius: 99rem;
            }
          }
          .tool-name {
            font-weight: bold;
          }
        }
      }
      //////////////////////////////////////////////////////////
      .card-edu {
        background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.85), $primary-color-1), 
        var(--myImg, "");
        background-size: cover;
        background-position: center;
        border: 2px solid whitesmoke;
        border-radius: 1rem;
        text-align: center;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        .edu-school {
          font-weight: bold;
          font-size: 1.4rem;
        }
        .edu-content {
          padding: 1rem;
          font-size: 1.1rem;
        }
        .edu-period {
          font-style: italic;
        }
      }
      //////////////////////////////////////////////////////////
    }
    .line-modal {
      padding-bottom: 2rem;
      border-bottom: 2px solid $primary-color-0;
      box-shadow: 0px 1.3px 0px rgba(0, 0, 0, 0.26);
    }
  }
}
