$light: (
  secondary0: #f3f3f3,
  secondary1: #cfcfcf,
  secondary2: #201d1d,
  border-hover: #f3f3f3,
  tools: #9e989836,
);
$dark: (
  secondary0: #201d1d,
  secondary1: #201d1d,
  secondary2: #8c8c8c,
  border-hover: #8c8c8c,
  tools: #ffffff36,
);

:root {
  @each $name, $color in $light {
    --color-light-#{$name}: #{$color};
  }
  @each $name, $color in $dark {
    --color-dark-#{$name}: #{$color};
  }
}

@function getColor($color, $theme) {
  @return var(--color-#{$theme}-#{$color});
}

@mixin setCurrentTheme($theme, $languaje) {
  @if $languaje == "spanish" {
    $primary-color-0: if($theme == "dark", #2690c9, #1a5e83) !global;
    $primary-color-1: if($theme == "dark", #0a4f77, #094161) !global;
    $border-color: if($theme == "dark", #2690c9, #f3f3f3) !global;
  } 
  @else {
    $primary-color-0: if($theme == "dark", #189aa3, #157f86) !global;
    $primary-color-1: if($theme == "dark", #0f7080, #094e58) !global;
    $border-color: if($theme == "dark", #17a3ad, #f3f3f3) !global;
  }
  $secondary-color-0: getColor("secondary0", $theme) !global;
  $secondary-color-1: getColor("secondary1", $theme) !global;
  $secondary-color-2: getColor("secondary2", $theme) !global;
  $border-hover-color: getColor("border-hover", $theme) !global;
  $tools-color: getColor("tools", $theme) !global;
}