@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,600;1,700&display=swap");
@import "./mixins";
@import "./theme";
@import "./header";
@import "./headerMovile";
@import "./container";
@import "./containerMobile";
@import "./modal";
@import "./cardProject";

@mixin app($theme, $languaje) {
  @include setCurrentTheme($theme, $languaje);
  background: linear-gradient($primary-color-1, $primary-color-0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  @include header;
  @include headerMovile;
  @include container;
  @include containerMobile;
  @include modal;
  @include cardProject;
}

* {
  @include reset;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.hidde {
  display: none;
}

body {
  @include app("light", "spanish");
}
.dark {
  @include app("dark", "spanish");
}
body.english {
  @include app("light", "english");
}
.dark.english {
  @include app("dark", "english");
}

@media (max-width: 870px) {
  .header-container {
    padding: 0rem 2rem;
  }
  .container {
    padding: 0 2rem 2rem 2rem;
  }
}